<!DOCTYPE html>

<head>
  <title>Crafting Desktop</title>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
  <input id="itemName" type="text" placeholder="Nome do Item" />
  <button id="addItem">Adicionar Item</button>
  <button id="search" style="display: none;">Buscar Itens</button>

  <table id="myTable">
    <tr>
      <th>Item</th>
    </tr>
  </table>

  <footer>
    <button id="limparBanco">Limpar Banco de Dados</button>
  </footer>

  <script type="module" src="./renderer.js"></script>
</body>


</html>